.category_page_header {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 3rem;
    letter-spacing: .15rem;
    margin: 40px auto 20px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
    max-width: max-content;
}