.post_page {
    max-width: 1050px;
    margin: 40px auto;
    padding: 0 50px;
    color: rgba(0, 0, 0, 0.8);
}

.post_header {
    display: flex;
    flex-direction: column;
}

.post_page_paragraph_text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 1px;
    margin-top: 40px;
}
