.header {
    background-color: #f2f2f2;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    padding: 0 30px;
    font-family: "Nunito Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 10px;
    font-weight: 500;
    color: rgba(0, 0, 0, .6);
}
.header .header_nav_li_link {
    color: rgba(0, 0, 0, .6);
    text-decoration: none;
}

.header .header_contact {
    color: rgba(0, 0, 0, .6);
    text-decoration: none;
}

.header_logo {
    letter-spacing: .1rem;
    font-weight: 600;
    font-size: 18px;
    color: rgba(0, 0, 0, .6);
    transition: transform .5s;
    text-decoration: none;
}

.header_logo:hover {
    color: #111111;
    transform: scale(1.05);
    cursor: pointer;
}

.header_nav {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 10px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 450px;
    padding: 0 15px;
}

.header_nav ul {
    height: 100%;
    display: flex;
    max-width: 900px;
    width: 100%;
    justify-content: space-around;
}

.header_nav_li {
    display: flex;
    align-items: center;
    height: 100%;
    transition: transform .5s;
}

.header_nav_li:hover .header_nav_li_dropdown_content {
    visibility: visible;
}

.header_nav_li:hover .header_nav_li_link{
    color: #111111;
    transform: scale(1.1);
}

.header_nav_li:hover .header_nav_li_link_category{
    color: #111111;
    transform: scale(1.1);
}

.header_nav_li:hover .header_nav_li_link_category:after{
    border-color: #111111;
    transform: rotate(229deg);
    margin-bottom: 1px;
}

.header_nav_li_dropdown {
    position: relative;
}

.header_nav_li_link {
    transition: transform .5s
}

.header_nav_li_link_category {
    color: rgba(0, 0, 0, .6);
    transition: transform .3s;
}

.header_nav_li_link_category:after {
    text-transform: none;
    display: inline-block;
    content: "";
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    height: 3px;
    width: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
}

.header_nav_li_dropdown_content {
    visibility: hidden;
    position: absolute;
    text-align: center;
    background-color: #f2f2f2;
    left: -70%;
    top: 2rem;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);
    z-index: 9;
    min-width: 200px;
}

.header_nav_li_dropdown_content_link {
    text-transform: none;
    letter-spacing: 2px;
    font-size: 12px;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: rgba(0, 0, 0, .6);
    min-width: 100px;
    transition: transform .5s;
}

.header_nav_li_dropdown_content_link:hover {
    color: #111111;
    transform: scale(1.2);
}

.header_contact {
    transition: transform .5s;
}

.header_contact:hover {
    transform: scale(1.1);
    color: #111111;
    letter-spacing: 2px;
}

/* Commenting out search until it is implemented*/

/*.header_search {*/
/*    background-image: url(../../assets/icons/icon-search.svg);*/
/*    background-repeat: no-repeat;*/
/*    background-position: right center;*/
/*    background-size: contain;*/
/*    height: 20px;*/
/*    transition: transform .5s;*/
/*}*/

/*.header_search:hover {*/
/*    color: #111111;*/
/*    cursor: pointer;*/
/*    transform: scale(1.1);*/
/*}*/

/*.header_search::before {*/
/*    font-weight: 400;*/
/*    font-size: 11px;*/
/*    letter-spacing: 2px;*/
/*    text-transform: uppercase;*/
/*    content: "Search";*/
/*    color: #000000;*/
/*    padding-right: 30px;*/
/*}*/
