.header {
    background-color: #FFFFFF;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.header_logo {
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 30px;
    color: #555555;
    transition: transform .5s;
    text-decoration: none;
}

.header_logo:hover {
    color: #111111;
    transform: scale(1.05);
    cursor: pointer;
}

.header_nav {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    font-weight: 500;
    color: #999999;
}

.header_nav_li {
    position: relative;
    display: inline-block;
    padding: 0 2.5rem;
    transition: transform .5s;
}

.header_nav_li:hover {
    transform: scale(1.1);
    color: #111111;
}

.header_nav_li > a {
    color: #000000;
    text-decoration: none;
}

.header_nav_li_with_children {
    position: absolute;
    display: inline-block;
    right: 25px;
    transition: transform .5s;
}

.header_nav_li:hover > .header_nav_li_with_children {
    transform: rotateX(180deg);
    bottom: 1px;
}

.header_contact {
    /*height: 20px;*/
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 500;
    color: #999999;
    transition: transform .5s;
}

.header_contact:hover {
    transform: scale(1.1);
    color: #111111;
}

/* Commenting out search until it is implemented*/

/*.header_search {*/
/*    background-image: url(../../assets/icons/icon-search.svg);*/
/*    background-repeat: no-repeat;*/
/*    background-position: right center;*/
/*    background-size: contain;*/
/*    height: 20px;*/
/*    transition: transform .5s;*/
/*}*/

/*.header_search:hover {*/
/*    color: #111111;*/
/*    cursor: pointer;*/
/*    transform: scale(1.1);*/
/*}*/

/*.header_search::before {*/
/*    font-weight: 400;*/
/*    font-size: 11px;*/
/*    letter-spacing: 2px;*/
/*    text-transform: uppercase;*/
/*    content: "Search";*/
/*    color: #000000;*/
/*    padding-right: 30px;*/
/*}*/
