.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(29, 29, 31);
    border-color: rgba(255, 255, 255, 0.24);
    color: rgba(255, 255, 255, 0.56);
    padding: 70px;
    font-size: 14px;
    letter-spacing: .1rem;
    line-height: 30px;
    margin-top: auto;
}

.footer_left {
    max-width: 40%;
}

.footer_left_about_description {
    color: rgba(255, 255, 255, 0.8);
}

.footer_left_about_title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.footer_left_about_title:after {
    content: "";
    display: block;
    margin-top: 10px;
    width: 120px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.6);
}

.footer_right {
    max-width: 40%;
}

.footer_right_copyright {
    margin-top: 50px;
    text-align: right;
    color: rgba(255, 255, 255, 0.8);
}

.footer_about_description_ghub {
    color: rgba(255, 255, 255, 0.8);
}