.post_section_heading {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.post_section_heading_text {
}

.post_section_link {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.post_section_link_visible {
    opacity: 1;
}