.section_entry {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.5s, box-shadow 0.5s;
    position: relative;
    z-index: 5;
}

.section_entry:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.3);
}

.section_entry img {
    max-width: 330px;
    display: inline-block;
    margin-bottom: 30px;
}

.section_entry_cat {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 14px;
    color: #999999;
    margin-bottom: 20px
}

.section_entry_title {
    max-width: 300px;
    margin-bottom: 100px;
    display: inline-block;
}

.section_entry_date {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #999999;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}