.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 40px;
    margin: 40px 80px;
    text-align: center;
    max-width: 1650px;
}

@media (max-width: 1024px) {
    .section{
        justify-content: space-around;
    }
}