.section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 40px;
    margin: 60px auto;
    text-align: center;
    width: 92%;
}

@media (max-width: 1024px) {
    .section{
        justify-content: space-around;
    }
}