.post_section_child {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 1px;
    font-size: 1rem;
}

.gallery_section_child {
    margin-top: 30px;
}